
/* @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bitter&family=Copse&family=Cutive&family=IBM+Plex+Sans:wght@600&family=Kaisei+Decol:wght@500;700&family=Lora:wght@700&family=Playfair+Display:ital,wght@0,500;1,400&family=Poppins:wght@300&family=Rubik+Distressed&family=Sanchez&family=Scope+One&family=Slabo+27px&family=Trocchi&family=Vesper+Libre&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;


.animated-element {
    /* background: linear-gradient(135deg, #1a1a1a, #2b2b2b); */
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: white; /* Set text color to contrast with the dark background */
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }